* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.container {
    background: white;
    padding: 30px;
    border-radius: 20px;
    width: 650px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
}
.container:hover {
    transform: translateY(-5px);
}
#heading {
    margin-bottom: 20px;
    color: #333;
}
input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    outline: none;
    transition: 0.3s;
}
input:focus {
    border-color: #667eea;
    box-shadow: 0 0 5px rgba(102, 126, 234, 0.5);
}
.button-container {
     display: flex;
     gap: 10px;
     justify-content: center;
     flex-wrap: wrap;
}
button {
    width: auto;
    padding: 10px;
    margin: 6px 0;
    border: none;
    border-radius: 10px;
    background: #667eea;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
    background: #5a67d8;
    transform: scale(1.03);
}
button:active {
    transform: scale(0.98);
}
#paragraph {
    margin-top: 15px;
    color: #555;
    font-size: 14px;
}